.wrapper {
  width: 100%;
  margin: 0 auto;

}
.sidebaritems {
  text-align: center;
  margin-top: 1700px;
  font-size: 45px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
}

#Prologue {
  margin-top: 900px;
}
.main {
  float: left;
  width: 80%;
}
.sidebar{
  float: right;
  position: relative;
  width: 20%;
  height: 10000px;
  background-color: #C3B59B;
  opacity: .50;
}
.websitetitle {
  position: absolute;
  top: 150px;
  left: 5px;
}
.panel {
  position: relative;
  width: 100%;
  height: 1980px;
}
.leftImage {
  position: relative;
  bottom: 100px;
  height: 1500px;
  width: 1500px;
  left: 300px;
  top: 100px;
}

.rightImage {
  position: relative;
  height: 900px;

  width: 1400px;
  left: 500px;
  border-radius: 10px;
}
.right-display-box {
  position: absolute;
  border-radius: 25px;
  top: 100px;
  right: 100px;
  width: 1700px;
  height: 1200px;
  background-color: #393D49;
  z-index: 10;
}

h2 {
  position: absolute;
  text-align: right;
  letter-spacing: 1px;
  bottom: 200px;
  width: 100%;
  font-size: 70px;
}

img {
    width: 100%;
    height: 2000px;
  }

.prologue-panel {
  width: 100%;
  height: 500px;
}

.story-panel {
  width: 100%;
  height: 2000px;
  position: relative;
  z-index: 5;
  background-color: #527296;
}

.panelcaption {
  bottom: 15px;
  position: absolute;
  width: 100%;
  height: 250px;
  z-index: 10;
}

.paneltext {
  position: relative;
  letter-spacing: -1px;
  font: bold 110px/125px Helvetica, Sans-Serif;
  padding:15px;
  text-align: center;
  width: 100%;
  height: 240px;

}

.titlepanel {
  position: relative;
  top: 180px;
  left: 40px;
  text-align: center;
}

