 h1 {
    position: absolute;
    text-align: left;
  }
#caption {
  color: white;
  font: bold 25px/20px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0);
  padding: 4px;
}
#new_user {
  position: relative;
  width: 800px;
  margin: 0 auto;
  top: 800px;
}

#user_habit {
  height: 220px;
  width: 800px;
  border-radius: 10px;
  border-style: solid;
  border-color: #545454;
  font-size: 50px;
  font-color: black;
  line-height: 50px;
  border-width: 6px;
}
#user_username {
  width: 800px;
  height: 60px;
  border-radius: 7px;
  border-style: solid;
  border-color: #545454;
  font-size: 35px;
  border-width:6px;
  size: 100px;
}
/*input[placeholder] {
   font-weight: bold;
}*/

input:last-of-type {
  position: relative;
  background-color: #338387;
  color: #fff;
  border-radius: 10px;
  height: 125px;
  width: 300px;
  left: 530px;
  font-weight: bold;
}

#title {
  color: white;
  font: bold 30px/40px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0);
  padding: 5px;
}

#button {
  padding: 15px 20px;
  left: 45%;
  position: absolute;
  bottom: -35px;
  background: #338387;
  border-radius: 10px;
  height: 150px;
  width: 350px;
  margin-left: 45px;
  margin-top: 3px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 10;
}
#breakpanel{
  background-color: black;
  opacity: .90;
}

#CartoonGeneral {
  position: absolute;
  border-style:solid;
  border-width:5px;
  border-radius: 15px;
  top: 100px;
  left: 300px;
  width: 1200px;
  height: 1400px;
  background-color: black;
}



#prologue{
  position: relative;
  top: 180px;
  left: 40px;
  font-family: italic bold 'SonsieOne';
  font-size: 300px;
  text-align: center;
  color: white;
}
#quote {
  padding-left: 40px;
  padding-top: 40px;
  color: white;
  font-size: 100px;

}

#panel2text{
  color: white;
  font: bold 110px/165px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
#textspan {
  text-align: left;
  }

#habitloop{
  position: relative;
  top: 250px;
  height: 1500px;
}
#panel3text{
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
#text2span {
  text-align: left;
  height: 205px;
  }

#Act1 {
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 110px;
  font-style: italic;
  color:#3498db;
  z-index: 10;
}

#panel4text{
  color: white;
  font: bold 110px/165px Hel  vetica, Sans-Serif;
  background: rgba(0, 0, 0, 0.7);
}

#text3span {
  text-align: left;
  }


#panel5text{
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}
#text4span {
  text-align: left;
  }

#panel6text{
  color: white;
  font: bold 110px/165px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
}

#text5span {
  text-align: left;
}

.story {
  height: 75px;
  position: absolute;
  background-color:#338387;
  width: 170px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px black;
}

#story1{
  top: 100px;
  left: 300px;
  display: none;
}

#story2 {
  top: 200px;
  left: 90px;
  display: none;
}

#story3 {
  top: 600px;
  left: 300px;
  display: none;
}

#story4 {
  top: 400px;
  left: 500px;
    display: none;
}

#story5 {
  top: 200px;
  left: 500px;
  display: none;

}

#story6 {
  top: 500px;
  left: 500px;
  display: none;
}

#story7 {
  top: 600px;
  left: 200px;
  display: none;
}

#story8 {
  top: 300px;
  left: 100px;
  display: none;
}
#story9 {
  top: 500px;
  left: 400px;
  display: none;
}

#story10 {
  top:350px;
  left: 200px;
  display: none;
}

.name {
  text-align: right;
  color:  white;
}


