<div id ="container">
<div id ="panel1">
<%= image_tag("habits.jpg") %>
</div>
<div id = "panel2">
  <span class="glyphicon glyphicon-chevron-up"></span>
</div>
</div>

<style>
  #panel2 {
    background-color: beige;
    height: 100px;


  }


</style>



